body {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
.App {
    font-family: 'sans-RobotoDraft', 'Helvetica Neue', Helvetica, Arial;
}
/* Utility Styling */
.hidden {
    display: none;
}
/* Header */
.header {
    background-color: #1565C0;
    padding: 20px 0;
    position: relative;
    text-align: center;
}
.header-title {
    color: #fff;
    margin: auto;
}
.header-button {
    font-size: 50px;
    color: #fff;
    position: absolute;
    cursor: pointer;
    top: 12px;
}
.menu-bar {
    left: 20px;
}
.user-icon {
    right: 20px;
}
/* User Menu */
.menu-user {
    position: absolute;
    right: 10px;
    top: 65px;
    background: #42A5F5;
    padding: 20px 25px;
    border: 1px solid #212121;
    border-radius: 3px;
    text-align: center;
}
.menu-user h3, .menu-user p {
    margin-top: 0;
    margin-bottom: 5px;
}
.menu-user button {
    margin-top: 5px;
}
/* Filter Menu */
.menu-filter {
    padding: 10px;
    background: #1565C0;
    border-top: 1px solid #424242;
    font-size: 17px;
}
.menu-filter input, .menu-filter select {
    font-size: 17px;
    border-radius: 2px;
    border: none;
    padding: 2px;
}
.menu-filter input {
    padding-left: 2px;
}
.menu-filter div {
    display: inline;
    margin-right: 15px;
}
.menu-filter label {
    font-weight: bold;
    margin-right: 3px;
}
.btn-filter-submit {
    padding: 5px 25px;
}
/* CONTENTS */
.content-wrap {
    padding: 10px;
}
.sub-description {
    padding: 5px;
    border-bottom: 2px solid #eee;
    margin-bottom: 10px;
    color: #616161;
}
/* Body */
.Body {
}
.post {
    height: auto;
    background-color: #EEEEEE;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 10px;
}
.post-head {
    display: inline-flex;
}
.post-section {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.post-thumbnail {
    border-radius: 3px;
    width: 140px;
    min-width: 140px;
    height: auto;
    max-height: 135px;
}
.post-title {
    margin-top: 10px;
    font-size: 20px;
    color: #424242;
    margin-bottom: 5px;
}
/* Post Details */
.post-details p {
    display: inline-block;
    margin: 5px 20px 10px 0;
    font-size: 16px;
    color: #757575;
}
.post-details p.post-score {
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
}
.post-details p.post-golds {
    color: #FFD600;
    font-weight: bold;
    font-size: 20px;
}
.post-details p.post-golds svg {
    vertical-align: top !important;
}
.post-details p.post-nsfw {
    color: #F44336;
    border: 1px solid;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
}
.post-score.voted-1 {
    color: #00C853;
}
.post-score.voted--1 {
    color: #B71C1C;
}
.post-actions p {
    display: inline;
}
/* Post Body */
.post-body {
    margin-left: 160px;
    margin-top: 15px;
}
.post-body p {
    margin: 10px 0;
    color: #424242;
    line-height: 1.4;
}
.post-preview-media {
    max-width: 50%;
    min-width: 500px;
}
/* Buttons */
button {
    cursor: pointer;
}
.btn-standard {
    background: white;
    color: #616161;
    font-size: 15px;
    border: none;
    padding: 5px 20px;
    text-transform: uppercase;
    border-radius: 2px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.26);
    outline: none;
}
.btn-standard:active {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    transition-delay: 0s;
}
.btn-circle {
    cursor: pointer;
    font-size: 25px;
    border-radius: 25px;
    border-width: 1px;
    border-style: double;
    color: #fff;
    background-color: black;
    padding: 3px 8px 7px 8px;
    outline: none;
    margin-right: 10px;
}
a.btn-circle {
    border: none;
    padding: 4px 8px 8px 8px;
}
.action-upvote, .action-downvote {
    background-color: #BDBDBD;
}
.action-upvote:active, .action-upvote.clicked {
    background-color: #00C853;
}
.action-downvote:active, .action-downvote.clicked {
    background-color: #B71C1C;
}
.action-expand, .action-hide-content {
    background-color: #2196F3;
}
.action-expand:active, .action-hide-content:active {
    background-color: #1E88E5;
}
.action-view-link {
    background-color: #F9A825;
}
.action-view-link:active {
    background-color: #F57F17;
}
.action-view-link-reddit {
    background-color: #90CAF9;
}
.action-view-link-reddit:active {
    background-color: #64B5F6;
}
/* Alert Dialog */
.dialog-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    margin: -120px 0 0 -150px;
    width: 300px;
    background: white;
    padding: 20px 25px;
    border: 2px solid #BDBDBD;
    border-radius: 4px;
}
.dialog-title {
    margin-top: 0;
    margin-bottom: 15px;
}
.dialog-footer {
    text-align: right;
    margin-top: 20px;
}
.btn-alert-confirm svg {
    margin-right: 3px;
    margin-top: -3px;
    color: #00C853;
}
/* Spinners */
.spinner-global {
    color: #424242;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 3s linear infinite;
    -moz-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }